# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.
Attack On Titan
Mindhunter
The Umbrella Academy

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [5]:
import sqlite3 as sl 
import pandas as pd
tv_show = pd.read_csv('tv_shows.csv')

In [13]:
tv_show.info()
tv_show.drop(['Unnamed: 0'], axis=1, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 545.2+ KB

In [16]:
tv_show.rename(columns={"Rotten Tomatoes": "Rotten_Tomatoes", "Prime Video": "Prime_Video", "Disney+": "DisneyPlus"}, inplace = True)

In [44]:
tv_show.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   DisneyPlus       5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 503.2+ KB

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [19]:
con = sl.connect("tv.db")

tv_show.to_sql('shows', con)

5368

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [27]:
data = con.execute('SELECT * FROM shows LIMIT 20;')
for row in data:
    print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [34]:
con.execute('drop table fav_shows')

In [35]:
with con:
    con.execute("""
        CREATE TABLE fav_shows (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, 
            title TEXT
        );
    """)
    
    sql = 'INSERT INTO fav_shows (title) Values (?)'
    data = [
        ('Attack On Titan',),
        ('Mindhunter',), 
        ('The Umbrella Academy',)
    ]
    con.executemany(sql, data)

In [37]:
data2 = con.execute('SELECT * FROM fav_shows;')
for row in data2:
    print(row)

(1, 'Attack On Titan')
(2, 'Mindhunter')
(3, 'The Umbrella Academy')

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [39]:
print(tv_show.describe())

print(tv_show['Netflix'].value_counts())
print(tv_show['Hulu'].value_counts())
print(tv_show['Prime_Video'].value_counts())
print(tv_show['DisneyPlus'].value_counts())

                ID         Year      Netflix         Hulu  Prime_Video  \
count  5368.000000  5368.000000  5368.000000  5368.000000  5368.000000
mean   2814.945790  2012.628726     0.367176     0.301975     0.341095
std    1672.385727    10.142813     0.482080     0.459157     0.474122
min       1.000000  1904.000000     0.000000     0.000000     0.000000
25%    1345.750000  2011.000000     0.000000     0.000000     0.000000
50%    2788.000000  2016.000000     0.000000     0.000000     0.000000
75%    4308.250000  2018.000000     1.000000     1.000000     1.000000
max    5717.000000  2021.000000     1.000000     1.000000     1.000000

        DisneyPlus    Type
count  5368.000000  5368.0
mean      0.065387     1.0
std       0.247231     0.0
min       0.000000     1.0
25%       0.000000     1.0
50%       0.000000     1.0
75%       0.000000     1.0
max       1.000000     1.0
0    3397
1    1971
Name: Netflix, dtype: int64
0    3747
1    1621
Name: Hulu, dtype: int64
0    3537
1    1831
Name: Prime_Video, dtype: int64
0    5017
1     351
Name: DisneyPlus, dtype: int64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [45]:
streaming_df = pd.read_sql("""
    SELECT fav_shows.title, shows.Netflix
    FROM fav_shows JOIN shows ON shows.Title == fav_shows.title;
""", con)
streaming_df.to_sql('fav_shows_streaming', con)

print(streaming_df.head(3))
print(streaming_df.info())
print(streaming_df.describe())

print(streaming_df['Netflix'].value_counts())

                  title  Netflix
0            Mindhunter        1
1  The Umbrella Academy        1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    2 non-null      object
 1   Netflix  2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes
None
       Netflix
count      2.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
1    2
Name: Netflix, dtype: int64

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?